.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
*.egg-info/
dist/
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/

## GEMINI md
CHANGELOG.md
CONVENTION.md
GEMINI.md
TASK.md
bdd.sql
doc.pdf
doc_copy.txt
