@import "tailwindcss";

@theme inline {
  --color-background-app: #F7F7FA;
  --color-text-dark: #0C0C0E;
  --color-primary: #4127FF;
  --color-secondary-red: #FF0000;
  --color-secondary-green: #00A64E;
  --color-card-dark: #0D1F17;
  --color-card-dark-2: #0F2D1E;

  --font-syne: var(--font-syne);
  --font-inter: var(--font-inter);
}

* {
  box-sizing: border-box;
  min-width: 0; /* Permet aux éléments flex de rétrécir en dessous de leur contenu */
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: var(--color-background-app);
  color: var(--color-text-dark);
  -webkit-font-smoothing: antialiased;
}

/* Scrollbar horizontal masquée mais fonctionnelle */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
